.dropdown:hover>.dropdown-menu
{
	display: block;
}
#he1
{
	font-size: 23px;
	font-weight: bold;
	/*font-style: italic;*/
	/*color: #ff884d;*/
	text-align: center;
	margin-top: 50px;
	font-family: Gabriola;
}
#he2
{
	font-size: 80px;
	font-weight: bold;
	/*font-style: italic;*/
	color: #ffcc66;
	text-align: center;
	font-family: Gabriola;
	margin-top: 20px;
}
#d1
{
  background: url('img/b11.jpg');   
  background-repeat: no-repeat;
  /*background-size: 100%;*/
  /*padding: 10px;*/
  background-attachment: scroll;
  background-position: center;
  /*height: 100%;*/
  /*width: 100%;*/
}
#d2
{
	/*background: url('img/d1.jpg');
	background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: scroll;*/
  height: 100%;
  width: 100%;
}
#f1
{
	text-decoration: none;
	color: grey;
	background-color: #ffd9b3;
}