.dropdown:hover>.dropdown-menu
{
	display: block;
}
#top1
{
	margin-top: 400px;
}
.container1
{
	background: url('img/registerb.jpg');
	background-size: 50%;
	background-repeat: no-repeat;
	height: 100%;
	padding: 5px;
	margin-left: 20px;
}